<p class="pt4">
  <span class="f-headline lh-solid">Send a Test Email </span>
  <span><a href="/">Back to Dashboard</a></span>
</p>

<%= render "form.html", Map.put(assigns, :action, Routes.sent_path(@conn, :create)) %>
