
<h1>Compose Your Email:</h1>

<form id="gform" method="POST" class="pure-form pure-form-stacked"
 action="/sendemail">
   <!-- change the form action to your script url -->

   <fieldset class="pure-group">
     <label for="to">Recipient(s): </label>
     <input id="to" name="to" placeholder="{{to}}" />
   </fieldset>

   <fieldset class="pure-group">
     <label for="message">Message: Edit the message but keep <pre>{name}</pre> and <pre>{signature}</pre> placeholders</label>
     <textarea id="message" name="message" rows="10" cols="80" autofocus
     placeholder="Tell us what's on your mind..."></textarea>
   </fieldset>

   <button class="button-success pure-button button-xlarge">
     <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

 </form>
