<div>
  <h1>The count is: <%= @val %></h1>
  <button phx-click="dec">-</button>
  <button phx-click="inc">+</button>
</div>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Template</th>
      <th>Status</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
<%= for sent <- @sent do %>
    <tr>
      <td><%= sent.message_id %></td>
      <td><%= sent.template %></td>
      <td><%= sent.status %></td>
      <td><%= sent.inserted_at %></td>
    </tr>
<% end %>
  </tbody>
</table>
